@import "../../../node_modules/bootstrap/scss/functions";

@font-face {
    font-family: 'klonar';
    src: url('../fonts/BCSklonar-Light.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'klonar';
    src: url('../fonts/BCSklonar-Medium.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'klonar';
    src: url('../fonts/BCSklonar-Bold.otf');
    font-weight: 900;
}

$font-family-base: 'klonar', sans-serif;
$font-weight-normal: 500;
$font-size-base:    1.1rem;

$h1-font-size:      $font-size-base * 3;
$h2-font-size:      $font-size-base * 2.5;
$h3-font-size:      $font-size-base * 2;
$h4-font-size:      $font-size-base * 1.5;
$h5-font-size:      $font-size-base * 1.25;
$h6-font-size:      $font-size-base;

$blue:    #3bbce1 !default;
$yellow:  #facb5b !default;
$dark:    #121212 !default;
$white:   #fff !default;

$body-bg: hsl(255, 10%, 10%) !default;
$body-color: #fff;

$card-bg: transparent;
$border-radius-lg: 0.5rem;

$navbar-padding-y: 1.25rem;
$navbar-nav-link-padding-x: 1rem;
$navbar-dark-color: $white;

$modal-content-bg: $dark;

@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

$custom-colors: (
  "yellow": $yellow
);

$theme-colors: map-merge($theme-colors, $custom-colors);
