@font-face {
    font-family: 'klonar';
    src: url('../fonts/BCSklonar-Light.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'klonar';
    src: url('../fonts/BCSklonar-Medium.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'klonar';
    src: url('../fonts/BCSklonar-Bold.otf');
    font-weight: 900;
}

$font-family-base: 'klonar', sans-serif;

$blue:    #3bbce1 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #E74C3C !default;
$orange:  #fd7e14 !default;
$yellow:  #F39C12 !default;
$green:   #00bc8c !default;
$teal:    #20c997 !default;
$cyan:    #3498DB !default;
$dark:    #121212 !default;
$white:   #fff !default;

$body-bg: hsl(255, 10%, 10%) !default;
$body-color: #fff;

$component-active-bg: rgba(36, 35, 43, 0.7);
$border-color: #34383e;
$hr-border-color: #5e6061;

$card-cap-bg: #833f5c;
$card-bg: #302e38;
$link-color: hsl(200, 40%, 75%) !default;

$input-bg: #24232b;
$input-border-color:  #24232b;
$input-color: #fff;
$input-group-addon-bg: #293033;

$navbar-nav-link-padding-x: 1rem;
$navbar-dark-color: $white;
