.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 2px solid $blue;

    &__link {
        vertical-align: middle;
        color: $white;
    }

    &__obwc-img {
        background-image: url('../2020_link.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        min-width: 170px;
        height: 50px;
        max-height: 50px;

        transition: background-image 0.25s ease-in-out;
        
        @include media-breakpoint-up(sm) {
            min-width: 200px;
            height: 56px;
            max-height: 56px;
        }

        &:hover {
            background-image: url('../2020_link_hover.png');
        }
    }
}
